@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 767px) {
  main {
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #EAEAEA;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-weight: 1.5rem;
}

.explorer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.explorer h2 {
  font-size: 1.5rem;
}
.explorer p {
  font-size: 1.25rem;
  color: #525252;
  text-align: center;
}
.explorer button {
  color: white;
  font-weight: 300;
  font: size 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 767px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.tuto li::before {
  content: "" counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
#homepage .menus .menus_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 767px) {
  #homepage .menus .menus_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .new {
  position: relative;
}
#homepage .menus .new::before {
  content: "NEW";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card-image {
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
}
#homepage .menus .card__image1 {
  background-image: url("assets/image1.jpg");
}
#homepage .menus .card__image2 {
  background-image: url("assets/image2.jpg");
}
#homepage .menus .card__image3 {
  background-image: url("assets/image3.jpg");
}
#homepage .menus .card__image4 {
  background-image: url("assets/image4.jpg");
}
#homepage .menus .card_description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#homepage .menus .card_description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card_description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .menus .card_description h3, #homepage .menus .card_description p {
  margin: 0.3rem;
}
#homepage .menus .card_description h3 {
  padding-top: 0.5rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
}
footer p {
  padding: 0.2rem;
}

body {
  background-color: #F6F6F6;
}

#page-rest .banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}
#page-rest .restaurant__title {
  margin-top: -2rem;
}
#page-rest .restaurant__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
}
#page-rest .restaurant__title h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-rest .restaurant__title h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-rest .restaurant__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-rest .restaurant-main {
  padding: 0 1rem;
}
#page-rest .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 767px) {
  #page-rest .menus {
    grid-template-columns: 1fr;
  }
}
#page-rest .menus .menus__category {
  background-color: white;
}
#page-rest .menus .menus__category .menu-item {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
#page-rest .menus .menus__category .menu-item .menu-item__price {
  padding: 1rem;
  margin-left: auto;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
#page-rest .menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
#page-rest .menus .menus__category .menu-item .menu-item__description h4,
#page-rest .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page-rest .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
}
#page-rest .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-rest .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-rest .menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
