.city{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #EAEAEA;
    text-align: center;
    padding: 0.5rem;
    & i{
        font-weight: 1.5rem;
    }
}
